<div id="leftnavigation-app">
  <div id="topnavigation" class="top-nav">
      <ul class="top-nav-ul">
          <li v-for="nav in navItems" @click="routeTo(nav)" :title="nav.title" class="top-navItem" v-bind:class="{'top-navItem-active': nav.isActive }">
            <a>
              <div class="mr-1" v-html="nav.navImage"></div>
            </a>
          </li>
      </ul>
  </div>
  <div id="leftnavigation" class="left-nav">
    <ul class="nav-ul">
        <li v-for="nav in navItems" @click="routeTo(nav)" :title="nav.title" class="navItem" v-bind:class="{'navItem-active': nav.isActive }">
          <a>
            <div class="mb-1" v-html="nav.navImage"></div>
            <div class="hide-md">{{nav.title}}</div>
          </a>
        </li>
    </ul>
  </div>
</div>
  
<script>
var LeftNavigation = new Vue({
el: '#leftnavigation-app',
data: {
  activeNavName: '',
  navItems: {},
  rid: ''
},
created: function() {
},
methods: {
  load: function(site, route){
    var self = this;
    self.navItems = _.filter(site.routes, function(r){return r.nav});
    self.rid = site.id;
   self.setActive(route);
  },
  routeTo: function(route){
    var self = this;
    if (self.activeNavName != route.id){
      route.params.rid = self.rid;
      self.setActive(route);
      Router.loadMainToRoute(route, false);
    }
  },
  setActive: function(route){
    var self = this;
    
      _.forEach(self.navItems, function(nav){
        if (nav.id == route.id){
          self.$set(nav, 'isActive', true);
        } else {
          self.$set(nav, 'isActive', false);
        }
      });
      self.activeNavName = route.id;
     
    
    
  }
}
});
</script>

<style>

  .top-nav {
    top:50px;
    left:0px;
    height:60px;
    width: 100%;
    display: none;
  }

  .top-nav-ul {
  margin-top: 2px;
  text-align: center; 
  }

  .top-navItem {
  color: #F8F8F8 !important;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: lighter;
  background-color:#161925;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
  margin-right: 15px;
  display: inline-block;
  width: 55px;
}

.top-navItem:hover {
  background-color: #235789 !important;
}

.top-navItem-active {
  background-color: #BF4E30 !important;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.nav-ul {
  margin-top: 10px;
  padding-left: 5px;
  text-align: center;
  
}

#leftnavigation {
left: 0px;
top: 60px;
height: 100%;
position: fixed;
margin-right: 15px;
}

.navImg {
max-width: 30px;
}

.navItem a {
text-decoration: none;

}

.navItem {
  color: #F8F8F8 !important;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: lighter;
  background-color:#161925;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
}

.navItem > a > div {
  color:#F8F8F8 !important;
}

.navItem:hover {
  background-color: #235789 !important;
}

.navItem-active {
  background-color: #BF4E30 !important;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.left-nav {
  background-color: #161925;
  height: 100%;
  width: 200px;
}

@media (max-width: 992px) {
  .left-nav {
    width: 55px;
  }
}

@media (max-width: 768px) {
  #leftnavigation {
    display: none;
  }

  .top-nav {
    display: block;
  }

  .container-fluid {
    padding-left: 0px !important;
  }

}


</style>