body {
  font-size: .85rem;
  background-color: white;
}

#index-app {
  position: relative;
}

#content-placeholder {
  top:60px;
  background-color: white;
}

.content-body {
  padding-left: 200px;
}

.link {
  color: white !important;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}

.link:visited {
  color: white !important;
}

.iframe-fill {
  width: 99%;
  height: 700px;
}

.nav-link:hover {
  cursor: pointer;
}


.border-no-top {

  border-top: 0px white !important;
}
  
.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
    position: relative;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;;
    border-radius: 50%;
    background-color: #0083CB;
    transform-origin: 50%;
    animation: bounce 700ms alternate infinite ease;
  }

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media (max-width: 992px) {
  .content-body {
    padding-left: 55px;
  }
  .hide-md {
    display: none !important;;
  }
  h2 {
    font-size: 1.46em !important;
  }
  .iframe-fill {
    width: 90%;
    height: 700px;
  }
}

@media (max-width: 768px) {
  .content-body {
    padding-left: 5px;
  }
}