body {
  font-size: .85rem;
}

.fill-page {
  height: 100%;
}

.skinny {
  padding: 0px 10px 0px 10px !important;
  margin-bottom: 0px !important;
  border-width: 1px 1px 1px 1px !important;
}

.skinny-rounded {
  border-radius: 7px !important;
}

#header-placeholder {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #161925;
  z-index: 2;
}

#leftnavigation-placeholder {
  position: fixed;
  top: 50px;  /* Using px here is better I think */
  bottom: 0px;
  left: 0px;
  width: 200px;
  background-color: #161925;
  z-index: 2;
}

#content-placeholder {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-left: 210px;
  padding-right: 10px; 
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.map {
    width: 100%;
    height: 465px;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

@media (max-width: 992px) {
  #leftnavigation-placeholder {
    width: 55px;
  }
  
  #content-placeholder {
    padding-left: 15px;
  }

  .hide-md {
    display: none !important;;
  }
  h2 {
    font-size: 1.46em !important;
  }

}

@media (max-width: 768px) {
  #leftnavigation-placeholder {
    position: relative;
    width: 100%;
    height: 55px;
  }
  #header-placeholder {
    position: absolute;
    top: 0px;
  }

   #content-placeholder {
    padding-left: 10px;
  }

  .map {
    height: 300px;
}
}


/* #index-app {
  position: relative;
}

#content-placeholder {
  top:60px;
  
} */

.container-fluid {
  padding-left: 0px;
}

/* .content-body {
  padding-left: 200px;
} */

.link {
  color: white !important;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}

.link:visited {
  color: white !important;
}

.nowrap {
  white-space: nowrap;
}

.iframe-fill {
  width: 99%;
  height: 700px;
}

/* doesn't work... */
iframe::-webkit-scrollbar {  
  display: none;
} 
.nav-link:hover {
  cursor: pointer;
}

.loadingHeight {
  height: 1000px;
}

.f-sm {
  font-size: 15px;
}

.border-no-top {
  border-top: 0px white !important;
}

.header-image {
  width: 100%;
  margin-top: 10px;
}

.skinny {
  padding: 0px 5px 0px 5px !important;
  margin-bottom: 0px !important;
  border-width: 1px 1px 1px 1px !important;
}

.skinny-rounded {
  border-radius: 7px !important;
}

.border-top-none {
  border-top: 0px !important;
}
  
.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
    position: relative;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;;
    border-radius: 50%;
    background-color: #0083CB;
    transform-origin: 50%;
    animation: bounce 700ms alternate infinite ease;
  }

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media (max-width: 992px) {
  .content-body {
    padding-left: 55px;
  }
  .hide-md {
    display: none !important;;
  }
  h2 {
    font-size: 1.46em !important;
  }
  .iframe-fill {
    width: 90%;
    height: 700px;
  }
}

@media (max-width: 768px) {
  .content-body {
    padding-left: 5px;
  }
  h2 {
    font-size: 1.10em !important;
  }
}