

<div class="content-body" id="home-app">
  <div class="container-fluid">
      <div class="row" v-if="isLoading">
          <div class="col-12">
              <div>
                  <div class="wrap">
                  <div class="loading">
                      <div class="bounceball"></div>
                      <div class="text">LOADING...</div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <div v-show="!isLoading">
          <div class="row ml-2 mb-4 mr-2">
              <div class="col">
                  <div class="pt-2"><h2 class="mb-0">Agenda</h2></div>
              </div>
              <div class="alert alert-primary col-auto align-self-end mt-2 w-100">
                  <div class="col-auto pl-0"><strong>Breakout Session:</strong><b-form-select v-model="breakoutSessionSelected" :options="breakoutSessionOptions" /></div>
              </div>
            </div>

          <ul class="nav nav-tabs mb-2">
            <li class="nav-item" v-for="day in agendaDays">
              <a class="nav-link" v-bind:id="agendas[day].id" @click="showDay(agendas[day])">{{ agendas[day].title }}</a>
            </li>
          </ul>
          <div class="ml-3">
              <table class="table table-sm table-hover">
                  <thead>
                    <tr class="border-no-top">
                      <th class="border-no-top">Time</th>
                      <th class="border-no-top">Topic</th>
                      <th class="border-no-top">Location</th>
                      <th class="border-no-top">Speaker</th>
                      <th class="border-no-top">Slides</th>
                    </tr>
                  </thead>
                  <tbody v-for="event in agendaActive.events">
                    <tr>
                      <td>{{ event.Time }}</td>
                      <td>{{ event.Topic }}</td>
                      <td>{{ event.Speaker }}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
          </div>
         
      </div>

      
  </div>

</div>

<script>
new Vue({
el: '#home-app',
data: {
  isLoading: true,
  breakoutSessionSelected: '',
  breakoutSessionOptions: [],
  data: {},
  agendaDays: [],
  agendas: {},
  agendaActive: {}
},
created: function() {
  var self = this;
  var tabletop = Tabletop.init({ 
  key: '1iLSmJFqs9F5gD31fx2I6xEV4mo9xmgvp9vAF5xBqv2Y', 
  callback: self.showInfo,
  simpleSheet: false
});
},
methods: {
  showInfo: function(data, tabletop) {
    var self = this;
    self.data = data;
    
    var cont = true;

    if (data.Info == undefined){
      cont = false;
      throwError('Info Sheet is missing from Excel file!');
    } else {
      _.forEach(data.Info.elements, function(modelInfo){
        console.log(modelInfo);
        self.breakoutSessionOptions.push({ value: modelInfo.Sheet, text: modelInfo.Sheet + ' - ' + modelInfo.Title });
      });
    }

    if (cont){

    }


//var days = _.groupBy(data, 'Day');

    // var daySelection = Router.activeRoute.params.day;
    // var activeDay = undefined;

    // _.forEach(days, function(value, key) {
    //     var title = key;
    //     key = key.replace(/\//g, '');

    //     self.agendaDays.push(key);
    //     self.agendas[key] = {};
    //     self.agendas[key].id = key;
    //     self.agendas[key].title = title;
        
    //     self.agendas[key].events = {};
    //     self.agendas[key].events = value;
    //     if (title == daySelection) {
    //      activeDay = self.agendas[key];
    //     }

    //     if (activeDay == undefined){
    //       activeDay = self.agendas[key];
    //     }
    // });

    // setTimeout(function() { self.showDay(activeDay); }, 300);
    
    self.isLoading = false;
    
  },
  showDay: function(day){
    var self = this;
    if (!_.isEmpty(self.agendaActive)){
      $('#' + self.agendaActive.id).removeClass('active');
    }
   
    $('#' + day.id).addClass('active');
    self.agendaActive = day;

    var url = Router.convertRouteToUrl(Router.activeRoute);
    url = Router.addToUrl(url, Constants.DAY_QS_PARAM, day.title);
    Router.pushUrlChange(url);

    self.isLoading = false;
  }

}
});
</script>

<style>
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.custom-select {
  display: block;
  font-size: .95em;
}

@media (max-width: 768px) {
  .custom-select {
  display: block;
  font-size: .85em;
}
}
</style>