

<div id="home-app">
  <div class="container-fluid">
      <h2 class="mt-3 mb-5">Agenda</h2>

      <div class="row" v-if="isLoading">
          <div class="col-12">
              <div>
                  <div class="wrap">
                  <div class="loading">
                      <div class="bounceball"></div>
                      <div class="text">LOADING...</div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <div v-show="!isLoading">
          <ul class="nav nav-tabs">
              <li class="nav-item" v-for="day in agendaDays">
                <a class="nav-link" v-bind:id="agendas[day].id" @click="showDay(agendas[day])">{{ agendas[day].title }}</a>
              </li>
            </ul>
      </div>

      
  </div>

</div>

<script>
new Vue({
el: '#home-app',
data: {
  isLoading: true,
  agendaDays: [],
  agendas: {},
  agendaActive: ''
},
created: function() {
  var self = this;
  var tabletop = Tabletop.init({ 
  key: '1UlpEntHaNt9PQqBdlJ5i6UxrCsP--m6q3SkgJXRySf0', 
  callback: self.showInfo,
  simpleSheet: true
});
},
methods: {
  showInfo: function(data, tabletop) {
    var self = this;
    var days = _.groupBy(data, 'Day');
    var daySelection = Router.activeRoute.params.day;
    var activeDay = undefined;

    _.forEach(days, function(value, key) {
        var title = key;
        key = key.replace(/\//g, '');

        self.agendaDays.push(key);
        self.agendas[key] = {};
        self.agendas[key].id = key;
        self.agendas[key].title = title;
        
        self.agendas[key].events = {};
        self.agendas[key].events = value;
        if (title == daySelection) {
         activeDay = self.agendas[key];
        }

        if (activeDay == undefined){
          activeDay = self.agendas[key];
        }
    });

    setTimeout(function() { self.showDay(activeDay); }, 300);
    
    
    
  },
  showDay: function(day){
    var self = this;
    if (self.agendaActive != ''){
      $('#' + self.agendaActive).removeClass('active');
    }
   
    $('#' + day.id).addClass('active');
    self.agendaActive = day.id;

    var url = Router.convertRouteToUrl(Router.activeRoute);
    url = Router.addToUrl(url, Constants.DAY_QS_PARAM, day.title);
    Router.pushUrlChange(url);

    self.isLoading = false;

    console.log(day);
  }

}
});
</script>

<style>

</style>